html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	letter-spacing: 0.0625em;
	color: dimgray;
}
canvas {
	border-radius: 5px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
	margin: 20px;
}
p, h2 {
	padding: 0px;
	margin: 5px;
	font-weight: 400; 
}
p {
	color: rgb(150, 150, 150);
}